@font-face {
  font-family: 'font';
  src: url('./font/font.eot');
  src: url('./font/font.eot?#iefix') format('embedded-opentype'), url('./font/font.woff') format('woff'), url('./font/font.ttf') format('truetype'), url('./font/font.svg#font') format('svg');
}

html {
  font-family: 'font';
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background: url('./image/background-low.jpg') repeat;
  background-size: cover;
}